<div id="scene">
    <!-- These are under layers that dont move during parallax effect -->
    <div class="img-container">
        <div id="mountain-04" class="mountain"></div>
    </div>
    <div class="img-container">
        <div id="fog-03" class="mountain"></div>
    </div>
    <div class="img-container">
        <div id="mountain-02" class="mountain"></div>
    </div>
    <div class="img-container">
        <div id="mountain-01" class="mountain"></div>
    </div>
    <!-- These are under layers that dont move during parallax effect -->
    <div class="img-container" data-depth="0.25">
        <div id="mountain-09" class="mountain"></div>
    </div>
    <div class="img-container" data-depth="0.20">
        <div id="mountain-08" class="mountain"></div>
    </div>
    <div class="img-container" data-depth="0.20">
        <div id="fog-07" class="mountain"></div>
    </div>
    <div class="img-container" data-depth="0.15">
        <div id="mountain-06" class="mountain"></div>
    </div>
    <div class="img-container" data-depth="0.15">
        <div id="fog-05" class="mountain"></div>
    </div>
    <div class="img-container" data-depth="0.10">
        <div id="mountain-04" class="mountain"></div>
    </div>
    <div class="img-container" data-depth="0.10">
        <div id="fog-03" class="mountain"></div>
    </div>
    <!-- TITLE GOES HERE -->
    <div class="img-container" data-depth="0.05">
        <div id="mountain-02" class="mountain"></div>
    </div>
    <div class="img-container" data-depth="0.05">
        <div id="mountain-01" class="mountain"></div>
    </div>
</div>