*{
    margin: 0;
    padding: 0;
}
header{
    grid-area: header;
    position: sticky;
    background: #3a3a3a;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
.menu{
    grid-area: menu;
}

body{
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main main'
      'menu footer footer footer footer footer';
    grid-gap: 10px;
    background: #1f1f1f;
}

body > * {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}