/* Coolors Exported Palette - coolors.co/212121-48e5c2-593f62-7b6d8d-8499b1 */

/* 
HSL

$background: hsla(0%, 0%, 13%, 1);
$accent: hsla(167%, 75%, 59%, 1);
$color3: hsla(285%, 22%, 32%, 1);
$color4: hsla(266%, 13%, 49%, 1);
$color5: hsla(212%, 22%, 61%, 1);

RGB

$background: rgba(33, 33, 33, 1);
$accent: rgba(72, 229, 194, 1);
$color3: rgba(89, 63, 98, 1);
$color4: rgba(123, 109, 141, 1);
$color5: rgba(132, 153, 177, 1); 
*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --background: #ffffff;
    --surface: #ffffff;
    --primary: #e0bd21;
    --primary-variant: #e0bd21;
    --secondary: #03dac6;
    --secondary-variant: #018786;
    --error: #b00020;

    --on-background: #000000;
    --on-surface: #000000;
    --on-primary: #ffffff;
    --on-secondary: #000000;
    --on-error: #ffffff;
}

:root {
    --background: #121212;
    --surface: #121212;
    --primary: #e0bd21;
    --primary-variant: #e0bd21;
    --secondary: #03dac6;
    --secondary-variant: #018786;
    --error: #e84853;

    --on-background: #000000;
    --on-surface: #000000;
    --on-primary: #ffffff;
    --on-secondary: #000000;
    --on-error: #ffffff;
}

/* :root {
    --future-blue: #003c71;
    --simcoe-blue: #0077ca;
    --tech-tangerine: #e75d2a;
} */

::-webkit-scrollbar {
    width: 0px;
}