@import 'palette.css';

body {
    margin: 0;
    
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
}

.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;

    z-index: 1000;
    
    background-image: url('../svg/loader.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px 100px;
    background-color: black;
}

.header {
    position: relative;
    height: 100vh;
    touch-action: none;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(var(--surface) 35%,#1a279c, var(--surface));
}

.scene-container {
    width: 100vw;
    height: 100vh;
}

.title {
    font-size: 5.7em;
    color: var(--primary-variant);
    /* color: var(--tech-tangerine); */

    position: absolute;
    top: 48% !important;
    left: 50% !important; 
    transform: translate(-50%, -50%) !important;
}

@supports (-webkit-text-stroke: 1px var(--primary)) {
    .outlined {
        -webkit-text-stroke: 1px var(--primary);
        /* -webkit-text-stroke: 3px var(--future-blue); */
        -webkit-text-fill-color: transparent;
    }
}