@import 'palette.css';

body {
    margin: 0;
    
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
}

.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;

    z-index: 1000;
    
    background-image: url('../svg/loader.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px 100px;
    background-color: black;
}

.header {
    position: relative;
    height: 100vh;
    touch-action: none;
    width: 100vw;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.scene-container {
    width: 100vw;
    height: 100vh;
}

.title {
    font-size: 5.7em;
    color: var(--primary-variant);
    /* color: var(--tech-tangerine); */

    position: absolute;
    top: 48% !important;
    left: 50% !important; 
    transform: translate(-50%, -50%) !important;
}

.title>div>span {
    text-shadow: 0px 0px 20px 20px #121212;
}

.links {
    color: var(--primary-variant);
    /* color: var(--tech-tangerine); */

    position: absolute;
    bottom: 5% !important;
    display: flex;
    justify-content: space-between;
}

.links>a {
    margin: 20px;
    color: inherit;
}

.links>a:hover {
        transform: scale(1.5);
}

@supports (-webkit-text-stroke: 1px var(--primary)) {
    .outlined {
        -webkit-text-stroke: 1px var(--primary);
        /* -webkit-text-stroke: 3px var(--future-blue); */
        -webkit-text-fill-color: transparent;
    }
}

@media screen and (max-width: 660px) {
    .title { 
      top: 43% !important;
    }

    .title>div {
      display: flex;
      flex-direction: column;
    }
}