body {
    color: white;
    background-color: #212121;
    /* color: black; */
    font-family: 'Open Sans', sans-serif;
}

#shadow {
    background-image: url("../assets/images/shadow.png");
    /* background-color: #000000; */
    box-shadow: 0 0 5px 100px #000000;
}

#me {
    background-image: url("../assets/images/me.png");
}

#me-text {
    font-size: 2.5em;
    text-align: left;
    width: 100%;
    left: 30% !important;
    top: 20% !important;
}

.header-images {
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 640px) {
    #me-text {
        left: 15% !important;
    }
}  