/* Coolors Exported Palette - coolors.co/212121-48e5c2-593f62-7b6d8d-8499b1 */

/* 
HSL

$background: hsla(0%, 0%, 13%, 1);
$accent: hsla(167%, 75%, 59%, 1);
$color3: hsla(285%, 22%, 32%, 1);
$color4: hsla(266%, 13%, 49%, 1);
$color5: hsla(212%, 22%, 61%, 1);

RGB

$background: rgba(33, 33, 33, 1);
$accent: rgba(72, 229, 194, 1);
$color3: rgba(89, 63, 98, 1);
$color4: rgba(123, 109, 141, 1);
$color5: rgba(132, 153, 177, 1); 
*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --background-color: #212121;
    --primary-color: #593f62;
    --secondary-color: #7b6d8d;
    --tertiary-color: #8499b1;
    --accent-color: #48e5c2;
}

::-webkit-scrollbar {
    width: 0px;
}