.content {
    height: 10000px;
}

.content > div {
    padding: 15vh 10vw 0 10vw;
}

.content > div > h1 {
    font-family: anirudh-display, Verdana, Arial, sans-serif;
    font-size: 3em;
}

.content > div > p {
    font-family: anirudh-text, Verdana, Arial, sans-serif;
    font-size: 2em;
}

@media screen and (max-width: 600px) {
    .content > div {
        padding: 10vh 10vw 10vh 10vw;
    }
}