button {
    all: unset;
}

/* ABOVE TO REMOVE ALL BUTTON STYLING */

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#header-image {
    position: fixed;
    top: 0;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 50vw;
    height: 50vh;

    background-image: url("../assets/images/boat.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    border: thick solid gold;
}
#header-nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    visibility: hidden;
    text-align: center;
}

@media screen and (min-width: 600px) {

    #header-nav > div {
        height: 100%;
        width: 50%;
    }

    #header-nav > div > button {
        width: 35%;
        height: 100%;
    }

    .animate-nav-in {
        visibility: visible !important;
        animation: nav-in 0.5s forwards !important;
    }

    .animate-nav-out {
        visibility: visible !important;
        animation: nav-out 0.5s forwards !important;
    }

    @keyframes nav-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes nav-out {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
}