html, body {
    margin: 0;
    padding: 0;
}

#header-image {
    position: fixed;
    top: 0;
    background-image: url("../assets/stairs.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.header-menu {
    position: fixed;
    top: 0;
}