@font-face {
    font-family: anirudh-display;
    src: url("../assets/fonts/SF-UI-Display-light.otf");
}
@font-face {
    font-family: anirudh-text;
    src: url("../assets/fonts/SF-UI-Text-Regular.otf");
}

.flat-page {
    z-index: 0;
}

.accent { color: gold; }
.accent-light { color: white; }
.dark-gray { background-color: #121212; }
.gray900 { background-color: #212121; }